<html>
  <title>Alternativas</title>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="bg-green-600 text-white p-1 flex justify-between items-center">
        <div class="flex items-center space-x-4">
          <h2 href="#" class="text-3xl font-bold">TecnoVerde</h2>
        </div>
        <div class="p-2 grid grid-cols-1 md:grid-cols-1 gap-8 py-0">
          <div class="text-left">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=b48dc47c59&attid=0.1&permmsgid=msg-f:1799808544539879157&th=18fa3455e10326f5&view=att&disp=safe&realattid=f_lwimrkx30" alt="LogoTecnoVerde" width="100px" height="100px">
          </div>
        </div>
        </nav>
        <section class="bg-green-400 text-white text-center p-4 items-center">
          <br>
        <h3 class="text-xl font-semibold mb-4">Por un presente verde</h3>
      </section>
      <br>
    
</div>

    <div class="container mx-auto px-4 py-8">
  <div class="flex flex-col lg:flex-row">
    
    <div class="lg:w-2/3 lg:pr-8">
      <h1 class="text-4xl font-bold mb-2">Alternativas para combatir la contaminación ambiental</h1>
      <p class="text-zinc-500 mb-4">27 de mayo del 2024 por <a class="text-blue-600">Revix</a></p>
      <p class="mb-4">La contaminación ambiental es uno de los principales problemas que se está dando a nivel
        global desde ya hace mucho tiempo, afectando a todo el planeta, a su biodiversidad y a la
        salud de las personas. Es fundamental proteger el medio ambiente para reducir la destrucción de los ecosistemas
        causada por actividades hechas por el hombre.</p>
      <hr class="mb-4">
      <br>
      <br>
      <br>
      <br>
      <h3 class="text-2xl text-green-700 font-bold mb-2">Alternativas usadas mundialmente para evitar la contaminación</h3>
      <br>
      <h4 class="text-xl font-semibold mb-2">Fibra de plátano</h4>
      <p>La lucha contra las bolsas de un solo uso tiene un nuevo aliado: la fibra de plátano. Este
        material, que se extrae de las hojas del plátano, es ya una alternativa real al plástico en
        algunos países. Las hojas se cuecen para extraer la fibra, obteniéndose una pasta que se
        prensa y se seca hasta convertirse en láminas que pueden utilizarse para producir bolsas.
        Las hojas de plátano son unos de los principales residuos de la industria platanera así que
        su aprovechamiento no solo constituye una alternativa biodegradable al uso de plástico, si
        no que también es una forma de transformar un residuo en recurso.</p>
        <br>
        <br>
        <br>
      <h4 class="text-xl font-semibold mb-2">Bioplásticos a partir del colágeno animal</h4>
      <p>El colágeno es una proteína de origen animal con tradición en la industria cosmética. La
        empresa vasca Ekolber propone un uso alternativo: convertir en caucho-termoplástico los
        residuos ganaderos ricos en colágeno, como las pieles de los animales. Este bioplástico
        puede tratarse posteriormente como cualquier otro plástico en procesos de inyección,
        extrusión o compresión.</p>
        <br>
      <p>Al ser un bioplástico que se extrae directamente de los desechos animales, no es necesario
        un proceso de síntesis caro y muy demandante de energía. Además, es un material
        biodegradable que puede reciclarse o compostarse al final de su vida útil. Las aplicaciones
        del plástico de colágeno son múltiples: puede servir para fabricar materiales de
        construcción, envases o material médico como cicatrizantes o tiritas.</p>
        <br>
        <br>
        <br>
        <h4 class="text-xl font-semibold mb-2">Madera en productos cotidianos</h4>
        <p>La madera y el bambú no solo son materiales biodegradables, también forman parte de los
          materiales denominados "neutrales de carbono", esto indica que su contribución al cambio
          climático es nula.</p>
          <br>
        <p>Actualmente, estos materiales vuelven a nuestros hogares, de los que habían sido
          sustituidos por el plástico o materiales compuestos, generalmente de peor calidad y poca
          durabilidad. A sus usos tradicionales para la fabricación de muebles, utensilios de cocina o
          elementos decorativos se suman otros más novedosos. Entre ellos se encuentran las
          bicicletas, los cepillos de dientes o las gafas de sol.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
  
      <h2 class="text-2xl text-green-700 font-bold mb-2">Acciones que puedes tomar para reducir tu huella ecológica</h2>
      <li>Reciclar la basura.</li>
      <li>Usa productos que puedan reutilizarse.</li>
      <li>Apaga las luces.</li>
      <li>Consume productos ecológicos y locales.</li>
      <li>Desconecta los aparatos que no estés utilizando.</li>
      <li>Utiliza el termostato.</li>
      <li>Muévete en transporte público.</li>
      <li>Cierra los grifos correctamente.</li>
      <li>Reutilizar tu ropa: Blusas para hacer trapos o bestidos de muñeca, pantalones
        para hacer bolsas o forrar cuadernos con estilo de mezclilla, entre otros.</li>
      <li>Regala tu ropa, considerendo que esté en buenas condiciones y que ya no las vayas a utilizar</li>
      <li>Reutilizar tus plasticos: Puedes uzarlos para macetas o reusarlas para tomar
        agua o algún líquido.</li>
    </div>
    
    <div class="lg:w-1/3 lg:pl-8 mt-8 lg:mt-0">
      <div class="mb-8">
        <img src="https://www.limabus.com.pe/wp-content/uploads/2022/09/Sin-titulo-1.png" alt="alt1" class="p-18 rounded-lg">
        <br>
        <br>
        <br>

        <img src="https://carmeespriu.com/cdn/shop/products/fibra-de-banana.jpg?v=1567590935" alt="alt2" class="p-18 rounded-lg">
        <br>
        <br>
        <br>
        <img src="https://cocimobelcocinas.com/images/blog/2019/septiembre/original-set-de-utensilios-de-madera-de-olivo.jpg" alt="alt3" class="p-18 rounded-lg">
        <br>
 

        <img src="https://regionnet.com.ar/wp-content/uploads/2022/04/art-05-Desconecta-todo-lo-que-no-este-en-uso.jpg" alt="alt4" class="p-18 rounded-lg">
        <br>
        <br>

      </div>
      
    </div>
  </div>
</div>

<div class="p-2 grid-cols-1 md:grid-cols-3 gap-8 py-0">
  <div class="text-left">
    <img src="https://mail.google.com/mail/u/0?ui=2&ik=cc8377a49d&attid=0.2&permmsgid=msg-a:r-1004419634940266797&th=18fa3452ffa02389&view=att&disp=safe&realattid=f_lwimrwx61" alt="LogoRevix" width="60">


  </body>
</html>