<html>
  <title>Contaminación</title>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="bg-green-600 text-white p-1 flex justify-between items-center">
        <div class="flex items-center space-x-4">
          <h1 href="#" class="text-3xl font-bold">TecnoVerde</h2>
        </div>
        <div class="p-1 grid grid-cols-1 md:grid-cols-1 gap-8 py-0">
          <div class="text-left">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=b48dc47c59&attid=0.1&permmsgid=msg-f:1799808544539879157&th=18fa3455e10326f5&view=att&disp=safe&realattid=f_lwimrkx30" alt="LogoTecnoVerde" width="100px" height="100px">
          </div>
        </div>



        </nav>
        <section class="bg-green-400 text-white text-center p-4 items-center">
          <br>
        <h3 class="text-xl font-semibold mb-4">Por un presente verde</h3>
      </section>

    <div class="container mx-auto px-4 py-8">
  <div class="flex flex-col lg:flex-row">
    
    <div class="lg:w-2/3 lg:pr-8">
      <h2 class="text-4xl font-bold mb-2">Contaminación</h1>
      <p class="text-zinc-500 mb-4">27 de mayo de 2024 por <a class="text-blue-600">Revix</a></p>
      <h4 class="text-xl font-semibold mb-4">¿Qué es la contaminación?</h4>
      <hr class="mb-4">
      <p class="mb-4">La contaminación ambiental es uno de los principales problemas que se está dando a nivel
        global desde ya hace mucho tiempo, afectando a todo el planeta, a su biodiversidad y a la
        salud de las personas. Son diferentes los tipos de contaminación que existen, todo
        depende de la zona o elemento que se ve afectado y del tipo de agentes contaminantes que
        producen el problema.</p>
      <p class="mb-4">Es fundamental proteger el medio ambiente para reducir la destrucción de los ecosistemas
        causada por actividades hechas por el hombre. Es más, una obligación moral para los seres
        humanos el proteger el medio ambiente de la contaminación y otras actividades que
        conducen a la degradación ambiental. Es importante destacar que dicha degradación es
        perjudicial ya que amenaza la salud a largo plazo de los animales, los humanos y las
        plantas.</p>
        <p class="mb'4">Son diferentes los tipos de contaminación que existen, todo depende de la zona o elemento
          que se ve afectado y del tipo de agentes contaminantes que producen el problema. Toda
          contaminación está causando grandes consecuencias a las que hay que poner solución.
          Aún estamos a tiempo de paliar los efectos de la contaminación ambiental, pero quizás
          mañana no.</p>
        <br>
        <br>
        <br>
        <br>

      <h2 class="text-2xl font-bold mb-2">Tipos de contaminación</h2>
      <p>Las sustancias nocivas son lo que llamamos contaminantes
        ambientales, pudiendo tener diferente origen. Además, se encuentran en diferentes
        concentraciones y en diferentes lugares.</p>
        <br>
      <li><strong>Contaminación atmosférica:</strong> Se produce a causa de la emisión de sustancias químicas a
        la atmósfera que afectan directamente a la calidad del aire.</li>
        <br>
      <li><strong>Contaminación hídrica:</strong> Se produce a causa de la emisión de sustancias químicas a la
        atmósfera que afectan directamente a la calidad del aire.</li>
        <br>
      <li><strong>Contaminación del suelo:</strong> Todo lo que no es natural, como baterías, las pilas o los
        vertederos también liberan sustancias nocivas que se filtran en el suelo.</li>
        <br>
      <li><strong>Contaminación visual:</strong> Es todo aquello que altera visualmente el paisaje natural. Hace
        referencia a todos los elementos que no son naturales y que nos envían estímulos visuales.</li>
        <br>
      <li><strong>Contaminación lumínica:</strong> Iluminación artificial excesiva que emiten las poblaciones.</li>
      <br>
      <li><strong>Contaminación térmica:</strong>El aumento de la temperatura (o calentamiento global)</li>
      <br>
      <br>
      <br>
      <h3 class="text-xl font-bold mb-2">Ejemplos de contaminación</h3>
      <li>Utilizar desodorantes en aerosol.</li>
      <li>Beber agua en botella de plástico.</li>
      <li>Arrojar un chicle al suelo..</li>
      <li>Dejar la llave abierta del agua mientras me aseo.</li>
      <li>Dejar las colillas en la playa.</li>
      <li>Echar las toallitas desechables al inodoro.</li>
      <br>
      <br>
    </div>
    
    <div class="lg:w-1/3 lg:pl-8 mt-8 lg:mt-0">
      <div class="mb-8">
        <br>
        <br>
        <img src="https://s1.significados.com/foto/31788328906-a4984be841-k.jpg?class=article" alt="conta1" class="rounded-lg">
        <br>
        <br>
        <br>
        <img src="https://lacontaminacion.es/wp-content/uploads/2023/11/contaminacion-termica-planta-termica-.webp" alt="conta2" class="rounded-lg">
        <br>
        <br>
        <br>
        <img src="https://internacomedioambiente.es/wp-content/uploads/2023/02/contaminacion-agua.jpg" alt="conta3" class="rounded-lg">        
    </div>
  </div>
</div>
</div>

    <div class="p-2 grid-cols-1 md:grid-cols-3 gap-8 py-0">
      <div class="text-left">
        <img src="https://mail.google.com/mail/u/0?ui=2&ik=b48dc47c59&attid=0.2&permmsgid=msg-f:1799808544539879157&th=18fa3455e10326f5&view=att&disp=safe&realattid=f_lwimrwx61" alt="LogoRevix" width="60">
      </div>
    </div>
  </body>
</html>