<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>

    <nav class="bg-green-600 text-white p-4 flex justify-between items-center">
  <div class="flex items-center space-x-4">
    <h2 href="#" class="text-3xl font-bold">TecnoVerde</h2>
    
  </div>
  </nav>
  <section class="bg-green-400 text-white text-center p-4 items-center">
  <h3 class="text-xl font-semibold mb-4">Por un presente verde</h3>
  </section>

  <div class="container mx-auto px-4 py-4">
    <h4 class="text-xl font-semibold mb-4">¿Qué es la ecología?</h4>
    <p class="mb-4">
        La ecología es la rama de la biología que se dedica al estudio de los seres vivos y la
        relación de éstos con el medio ambiente en el que habitan. Además, la ecología
        estudia la abundancia y distribución de seres vivos que existe en un área o región
        determinada.
        
        Se toman en cuenta como factores de estudio dentro de esta disciplina los
        factores bióticos, que son todos los organismos vivos; y los factores abióticos,
        como el clima y los suelos.</p>
  </div>

  
 </body>
</html> 