<html>
  <title>Sostenible y Sustentable</title>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="bg-green-600 text-white p-1 flex justify-between items-center">
        <div class="flex items-center space-x-4">
          <h2 href="#" class="text-3xl font-bold">TecnoVerde</h2>
        </div>
        <div class="p-2 grid grid-cols-1 md:grid-cols-1 gap-8 py-0">
          <div class="text-left">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=b48dc47c59&attid=0.1&permmsgid=msg-f:1799808544539879157&th=18fa3455e10326f5&view=att&disp=safe&realattid=f_lwimrkx30" alt="LogoTecnoVerde" width="100px" height="100px">
          </div>
        </div>
        </nav>
  
    <section class="bg-green-400 text-white p-4 items-center">
        <br>
      <h3 class="text-xl text-center font-semibold mb-4">Por un presente verde</h3>
    </section>
    <br>
    <div class="container mx-auto px-4 py-8">
      <div class="flex flex-col lg:flex-row">
    
    <div class="lg:w-3/5 lg:pr-8">
      <h2 class="text-3xl font-bold mb-2">Desarrollo sostenible y sustentable</h3>
        <p class="text-zinc-500 mb-4">27 de mayo de 2024 por <a class="text-blue-600">Revix</a></p>

        <br>
        <h3 class="text-xl font-semibold mb-2">¿En qué consiste el desarrollo sostenible?</h3>
        <hr class="mb-4">
        <p class="text-black-600 mb-2">El desarrollo sostenible implica cómo debemos vivir hoy si queremos un futuro mejor,
        ocupándose de las necesidades presentes sin comprometer las oportunidades de las
        generaciones futuras de cumplir con las suyas. La supervivencia de nuestras sociedades y
        de nuestro planeta común pasa por un mundo más sostenible.</p>
        <p class="text-black-600 mb-2">Cuando existe un desarrollo sostenible, todo el mundo tiene acceso a un trabajo digno, una
          atención sanitaria y una educación de calidad. La utilización de los recursos naturales evita
          la contaminación y las pérdidas permanentes para el medio ambiente. Las decisiones de
          políticas públicas garantizan que nadie se quede atrás debido a situaciones de inferioridad o
          discriminación.</p>
          <br>
        <h3 class="text-xl font-semibold mb-2">Bases de la sostenibilidad ambiental:</h3>
        <li>Cuidar el agua</li>
        <li>Ahorrar energía</li>
        <li>Reducir residuos y utilizar envases reciclables</li>
        <li>Consumir alimentos con aceite de palma.</li>
        <li>Soltar un globo de helio al aire.</li>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h3 class="text-xl font-semibold mb-2">¿En qué consiste el desarrollo sustentable?</h3>
          <hr class="mb-4">
          <p class="text-black-600 mb-2">El desarrollo Sostenible busca satisfacer las necesidades de las
            generaciones presentes sin comprometer las posibilidades de las generaciones del futuro,
            contando con tres factores claves: sociedad, economía y medio ambiente. Asimismo, es un
            método pensado a largo plazo y con beneficios progresivos, que se deberán llevar a cabo
            de manera permanente. Por su parte, el Desarrollo Sustentable está enfocado únicamente en los recursos naturales
            y el medio ambiente; tratando de preservarlos, conservarlos y protegerlos, pensando en el
            futuro inmediato del entorno natural, con la finalidad de no afectar a las generaciones
            venideras, pero continuar beneficiando a la sociedad actual.</p>
            <br>
          <h3 class="text-xl font-semibold mb-2">Bases de la sustentabilidad ambiental:</h3>
          <li>Ahorrar energía lumínica y aprovechar la luz solar</li>
          <li>Cambiar el tipo de energía administrada en el hogar</li>
          <li>Desenchufar los electrodomésticos sin uso</li>
          <li>Alternar los métodos de transporte</li>
          <li>Consumir más verduras y productos agro sustentables</li>
          <li>Separar residuos, reducir y reciclar</li>

    </div>
    
    <div class="lg:w-4/7 lg:pl-8 mt-8 lg:mt-0">
      <div class="mb-8">
        <img src="https://girosalut.org/wp-content/uploads/2021/02/desarrollosostenible.png" alt="sos" class="p-20 rounded">
        <br>
        <br>
        <br>
        <br>
        <img src="https://www.caracteristicas.pro/wp-content/uploads/2023/02/recursos-naturales.jpg" alt="sus" class="rounded-lg">

    </div>
  </div>
</div>

<div class="p-2 grid-cols-1 md:grid-cols-3 gap-8 py-0">
  <div class="text-left">
    <img src="https://mail.google.com/mail/u/0?ui=2&ik=cc8377a49d&attid=0.2&permmsgid=msg-a:r-1004419634940266797&th=18fa3452ffa02389&view=att&disp=safe&realattid=f_lwimrwx61" alt="LogoRevix" width="60">


  </body>
</html>
